body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: url(/Images/istockphoto-1011583646-612x612.jpg);
    
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 15px;
}
.card{
    align-items: center;
    border: 4px,solid,black;
    margin: 1rem;
    width: 28%;
    height: 18rem;
}
#card-common{
    background-color: rgb(211, 211, 211);
    color: brown;
    font-family: "Unlock", serif;
}
#card-rare{
    background-color: rgb(144, 238, 144);
    color: darkgreen;
    font-family: "Trade Winds", system-ui;
}
#card-epic{
    background-color: rgb(218,177,218);
    color: darkorchid;
    font-family: "Fascinate Inline", system-ui;
}
#card-legendary{
    background-color: rgb(255,179,67);
    color: darkred;
    font-family: "Jacques Francois Shadow", serif;
}
.card-desc{
    text-align: center;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
#desc-common{
    margin: 0.7rem;
}
.card-img{
    align-items: center;    
    height: 65%;
    width: 100%;
    object-fit: contain;
}
.card-header{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}