body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: url(/Images/istockphoto-1011583646-612x612.jpg);
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 15px;
}
.card{
    align-items: center;
    border: 4px,solid,black;
    margin: 1rem;
    width: 28%;
    height: 18rem;
}
#card-common{
    background: url(https://img.freepik.com/premium-photo/white-old-concrete-wall-with-grunge-texture-soft-white-background-banner-format_29977-14699.jpg?ga=GA1.1.1115663783.1726762564&semt=ais_hybrid);
    color: brown;
    font-family: "Unlock", serif;
}
#card-rare{
    color: darkgreen;
    font-family: "Trade Winds", system-ui;
    background: url(https://img.freepik.com/premium-photo/misty-green-foggy-abstract-background_53876-359329.jpg?ga=GA1.1.1115663783.1726762564&semt=ais_hybrid);
}
#card-epic{
    background: url(https://img.freepik.com/premium-photo/rough-gradient-purple-wall-background-texture_135595-113058.jpg);
    color: black;
    font-family: "Fascinate Inline", system-ui;
}
#card-legendary{
    background: url(https://p4.wallpaperbetter.com/wallpaper/61/509/195/background-gold-golden-gold-wallpaper-preview.jpg);
    color: darkred;
    font-family: "Jacques Francois Shadow", serif;
}
.card-desc{
    text-align: center;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
#desc-common{
    margin: 0.7rem;
}
.card-img{
    align-items: center;    
    height: 65%;
    width: 100%;
    object-fit: contain;
}
.card-header{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}