body{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card{
    display: flex;
    flex-direction: row;
    border: 4px,solid,black;
}
.card-desc{

}
.card-img{

}
.card-header{

}